.card   {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza o conteúdo interno verticalmente */
    border-radius: 10px;
    border: 6px solid #C79603;
    margin: 10px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites */
    width: 100%;
}
.card img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do card */
    height: 100%; /* Imagem ocupa toda a altura disponível do card */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    border-radius: 3px;
  }
  .title{
    color: black;
    font-size: 5ch;
    font-family: 'Javanese Text', sans-serif;
    margin-left: 20px;
  }
  
  